<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CS280A2.Properties.Settings.A2ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=H:\CS280A2\A2.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>